img  {
  /* border: solid red; */
  height: 200px;
  width: 200px;
}

.logoContainer {
  /* border: solid blue; */
  display: flex;
  justify-content:space-between;


}

.menuContainer {
  /* border: solid green; */


}

.menus {
  padding: 0 1em ;
  font-weight: bold;
  font-size: 14px;
}

.logo, .magnify {
  height: 50px;
  width: 50px;
  
}
.logo {
  width: 150px;


}
.imageContainer {
  /* border: solid orangered; */
  background-image: url("https://toyotaassets.scene7.com/is/image/toyota/Lexus-GX-TX-homepage-desktop-1920%C3%97795-LEX-FLN-MY24-0003?wid=1920&hei=795");
  object-fit: fill;
  height: 550px;

  

}

.Title {
  text-align:center;
  color: white;
}

.text{
  text-align: center;
  color: white;

}

.explore {
  color: black;
  padding: 1em 3em;
  margin-left: 570px;
  margin-top: 350px;


}

.explore:hover {
  background-color: blue; 
  color: white;
}


.shoppingContainer {
  /* border: solid purple; */
  display: flex;
  justify-content: center;
  
}
.shoppingContainer img {
  height: 50px;
  width: 50px;
  margin: auto;
 

}
.shoppingContainer p {
  text-align: center;

}

.shoppingTools {
  text-align: center;
  font-size: 2em;
}

.tools{
  /* border: solid greenyellow; */
  margin: 40px;
}
.offers {
  display: flex;
  justify-content: center;
  text-align: center;
}
.offers img {
  width: 400px;
}

.offers p {
  text-align: center;
}


h2 {
  text-align: center;
}

.txt {
  /* max-width: 300px; */
  margin: 10px;
  
}
.carContainer {
  margin: 10px;
}

h6 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 10px;
}

button {
  padding: 10px 5em;
  border: solid;
  font-weight: bold;
  Cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
  
 
}
 
button:hover {
  background-color: black;
  color: white;
}
 